<!-- cuestionario-general.component.html -->

<div class="contenido-cuestionario">
  <div class="mensaje-container">
      <p>En este apartado se mostrará el Cuestionario de Mecánica General para la obtención de la licencia de Mecánico Aeronáutico de la Dirección de Aviación Civil del Ecuador.</p>
      <p>Como usuario, usted podrá elegir las siguientes opciones:</p>
      <p><strong>Cuestionario Completo de Mecánica General:</strong> Le permitirá observar el cuestionario con su respuesta correcta marcada.</p>
      <p><strong>Cuestionario de Repaso de Mecánica General:</strong> Le permitirá observar el cuestionario con un botón que le permitirá marcar la respuesta correcta. Esta funcion servira como metodo de repaso antes de simular el examen.</p>
  </div>
  <div class="button-container">
      <button (click)="onCompletoMecanicaGeneralClick()">Cuestionario Completo de Mecánica General</button>
      <button (click)="onCuestionarioMecanicaGeneralRespuestaClick()">Cuestionario de Repaso de Mecánica General</button>

      <div *ngIf="datos && datos.length > 0" class="preguntas-container">
          <ul>
              <li *ngFor="let pregunta of datos[0]?.data" class="pregunta-item">
                  <strong class="pregunta-titulo">{{ pregunta?.pregunta }}</strong>
                  <div class="Respuestas">
                      <span class="opcion"></span> {{ pregunta?.opcion_a }}<br>
                      <span class="opcion"></span> {{ pregunta?.opcion_b }}<br>
                      <span class="opcion"></span> {{ pregunta?.opcion_c }}<br>
                      <strong class="respuesta-label">Respuesta: </strong>
                      <span class="respuesta">{{ pregunta?.respuesta }}</span><br>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

<!-- Contenedor del contenido principal -->
<div class="contenedor-contenido">
  <router-outlet></router-outlet>
</div>
