/* Estilo para la barra de navegación */
.navbar {
  width: 100%;
  height: 87px;
  background-color: #e4b022;
  position: fixed;
  top: 0;
  left: 100;
  z-index: 0;  /* Capa inferior */
  text-align: center;
  line-height: 70px;  /* para centrar verticalmente palabra salie */
  color: white;
  border-bottom: 1px solid #444;
}

/* Estilo para el menú lateral */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;  /* Alinea con la barra de navegación superior */
  left: 0;
  background-color: #e4b022;
  z-index: 2;  /* Capa superior */
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  border-bottom: 1px solid #444;
}

.sidebar-menu li a {
  color: #333;  /* color del texto del menu bar lateral */
  font-size: 30px;/* tamaño del texto del menu bar lateral*/
  display: block;
  padding:  20px;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  background-color: #8d6e19;
}

.active {
  background-color: #271212;
}





.salir {
  color: #333;  /* color del texto de la opcion salir */
  font-size: 30px; /* tamaño del texto del la opcion salir */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.3s ease; /* Transición suave para el color del texto */
  margin-right:50px;
  margin-top: auto; /* Ajusta el margen superior para centrar el texto verticalmente */
}


.salir:hover {
  background-color: #8d6e19;
  color: #c49a19; /* Cambia el color del texto al pasar el cursor */
}



.contenido-principal {
  display: flex;                /* Utilizar Flexbox */
  justify-content: center;      /* Centrar horizontalmente */
  align-items: center;          /* Centrar verticalmente */
  height: 100vh;                /* Altura completa de la ventana */
  flex-direction: column;       /* Alinear elementos en columna */
}

h1 {
  margin-bottom: 20px;          /* Añadir margen inferior al título */
}









.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px; /* Margen lateral del menú lateral */
}

.botones-cuestionario {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea los botones hacia el inicio del contenedor */
  width: 100%; /* Ancho del contenedor */
  margin-top: 150px;
  margin-left: 400px; /* Margen lateral del menú lateral */
}

.boton {
  flex: 0 0 calc(25% - 20px); /* Cada botón ocupa un cuarto del ancho del contenedor con un margen de 20px */
  width: 300px; /* Ancho fijo para cada botón */
  margin: 40px; /* Espacio entre los botones */
  text-align: center;
}

.boton button {
  padding: 30px; /* Aumenta el padding para hacer el botón más grande */
  font-size: 3em;
  width: 100%;
  background-color: #8ce6e9;
  white-space: nowrap;       /* Evita que el texto se rompa */
  overflow: hidden;           /* Oculta el contenido que desborda */
  text-overflow: ellipsis; 
  border-radius: 20px; 
}

.boton button:hover {
  background-color: #6caecc;


}







/* Estilo para el menú lateral */
.menu-lateral {
  width: 250px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

/* Estilo para los elementos del menú lateral */
.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral li {
  padding: 10px;
}

.menu-lateral li:hover {
  background-color: #555;
}


/* Estilo para el contenedor del formulario */
.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
}

/* Estilo para el formulario */
.formulario {
  width: 50%; /* Puedes ajustar el ancho del formulario según tus necesidades */
  padding: 20px;
  border: 1px solid #ccc;
}


/* Estilos específicos para los botones de cuestionario */
.contenedor-botones .botones-cuestionario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-botones .boton {
  margin-bottom: 10px;
}

.contenedor-botones .boton button {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar el ratón */
  transition: background-color 0.3s ease; /* Transición suave */
}

.contenedor-botones .boton button:hover {
  background-color: #45a049; /* Cambio de color al pasar el ratón */
}

/* Estilos específicos para el modal */
.contenedor-modal .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.contenedor-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.contenedor-modal .modal-content p {
  margin-bottom: 20px;
}

.contenedor-modal .modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-modal .modal-content button:nth-child(1) {
  background-color: #4CAF50; /* Color de fondo para el botón Sí */
  color: white;
}

.contenedor-modal .modal-content button:nth-child(2) {
  background-color: #f44336; /* Color de fondo para el botón No */
  color: white;
}

/* Estilos generales */
.hidden {
  display: none;
}










.modal {
  display: block; /* Mostrar el modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





/* Estilos para el formulario de eliminar */
.formulario-eliminar .modal-content {
  background-color: #fff; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 900px; /* Ancho del formulario */
  text-align: center; /* Alinear texto al centro */
  font-size: 40px; 
}

.formulario-eliminar .modal-content p {
  margin-bottom: 20px; /* Espacio inferior para el párrafo */
  font-size: 40px; 
}

.formulario-eliminar .modal-content button {
  background-color: #e4b022;
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  margin-right: 10px; /* Margen derecho */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor apuntando */
  font-size: 35px; 
}

.formulario-eliminar .modal-content button:hover {
  background-color: #8d6e19;
}

/* Estilos para la lista fuera del formulario de eliminar */
.formulario-eliminar ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 0; /* Sin margen */
}

.formulario-eliminar ul li {
  margin-bottom: 10px; /* Espacio inferior entre elementos de la lista */
}

.formulario-eliminar ul li button {
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor apuntando */
}

.formulario-eliminar ul li button:hover {
  background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el mouse */
}






