<div class="form-container">
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <p class="Ingresar-Preguntas">Ingresar preguntas</p>
      <button type="button" class="seteo-btn" (click)="seteo()">Configurar parámetros para el modo simulador de examen</button> 
<!-- Contenedor para mostrar seteo -->
<div class="configuraciones-contenedor" *ngIf="numPreguntas || horas || minutos">
  <p class="configuraciones-texto">
    Número de preguntas para generar el simulador del examen (número de preguntas aleatorias): <span *ngIf="numPreguntas; else noConfig">{{ numPreguntas }}</span><ng-template #noConfig><strong>No configurado</strong></ng-template>
    <br>
    Tiempo para resolver el simulador del examen : {{ horas || '0' }}:{{ minutos || '00' }}
  </p>
</div>
      <label for="pregunta">Pregunta {{ contador }}:</label>
      <textarea id="pregunta" name="pregunta" [(ngModel)]="pregunta" required></textarea>
    </div>
    <div class="form-group">
      <label for="opcion_a">Opción A:</label>
      <input type="text" id="opcion_a" name="opcion_a" [(ngModel)]="opcion_a" required>
    </div>
    <div class="form-group">
      <label for="opcion_b">Opción B:</label>
      <input type="text" id="opcion_b" name="opcion_b" [(ngModel)]="opcion_b" required>
    </div>
    <div class="form-group">
      <label for="opcion_c">Opción C:</label>
      <input type="text" id="opcion_c" name="opcion_c" [(ngModel)]="opcion_c" required>
    </div>
    <div class="form-group">
      <label for="respuesta">Respuesta:</label>
      <select id="respuesta" name="respuesta" [(ngModel)]="respuesta" class="form-control" required>
        <option [value]="opcion_a">Opción A: {{ opcion_a }}</option>
        <option [value]="opcion_b">Opción B: {{ opcion_b }}</option>
        <option [value]="opcion_c">Opción C: {{ opcion_c }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="imagen">Agregar Imagen de Referencia:</label>
      <input type="file" id="imagen" (change)="onImageSelected($event)" class="form-control">
    </div>
    <div class="form-buttons">
      <button type="button" class="regresar-btn" (click)="regresaraCrearCuestionario()">Regresar</button>
      <button type="submit">Siguiente Pregunta</button>
      <button type="button" class="Finalizar-btn" (click)="showConfirmationExit()">Finalizar</button>
    </div>
  </form>
</div>

<!-- Mensaje de campos vacíos -->
<div class="empty-fields-message" *ngIf="showEmptyFields">
  <div class="empty-fields-message-content">
      <p>{{ emptyFieldsMessage }}</p>
      <button class="empty-fields-ok-btn" (click)="hideEmptyFieldsMessage()">OK</button>
  </div>
</div>

<!-- Ventana emergente de confirmación -->
<div class="confirmation-popup" *ngIf="showConfirmationPopup">
  <div class="confirmation-popup-content">
      <p>¿Está seguro de finalizar y guardar el cuestionario?</p>
      <div class="confirmation-buttons">
          <button class="cancel-btn" (click)="cancelFinish()">Cancelar</button>
          <button class="confirm-btn" (click)="finishQuestionnaire()">Aceptar</button>
      </div>
  </div>
</div>

<div>
  <p>Preguntas creadas: {{ contador }}</p>
</div>

<!-- formuilario elegir preguntas aleotirias y tiempo -->

<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()">&times;</button>
    <h2>Configuraciones</h2>
    <label for="numPreguntas">Número de preguntas aleatorias para generar el simulador del examen:</label>
    <input type="number" id="numPreguntas" [(ngModel)]="numPreguntas" min="1">

    <label for="tiempoContador">Tiempo del Contador (hh:mm):</label>
    <div id="tiempoContador">
      <input type="number" [(ngModel)]="horas" placeholder="hh" min="0">
      <span>:</span>
      <input type="number" [(ngModel)]="minutos" placeholder="mm" min="0" max="59">
    </div>
    <button (click)="applySettings()">Aplicar</button>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
