/* nueva-pregunta css*/

.Finalizar-btn {
  background-color: blue; /* Color habilitado */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.Finalizar-btn.button-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button-disabled {
  background-color: gray; /* Color deshabilitado */
  cursor: not-allowed;
}

.form-container {
    margin: 0 auto; /* Centra el formulario H */
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    font-size: 30px;
  }

.form-group {
    margin-bottom: 20px;
    border-radius: 15px; 
    font-size: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); 
    font-weight: bold;
  }
  
.form-group input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 4px;
    font-size: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #b6aeae;
    font-style: italic;
  }

 label {
    display: block;
    margin-bottom: 5px;
  }
  
input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
textarea {
    height: 100px; /* altura  */
  }
  

.form-buttons {
    display: flex;
    justify-content: space-between; /* acomoda botones horizontalmente */
  }
  
.form-buttons button {
    background-color: #e4b022;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    transition: background-color 0.3s ease;
    border-radius: 20px; 
  }
  
  .form-buttons button:hover {
    background-color: #c49a19;
  }
  
  .next-question-btn {
    background-color: #007bff; 
    color: #fff;
  }
  
  .next-question-btn:hover {
    background-color: #0056b3; 
  }
  
  /*  Titulo*/
.ingresar {
    font-size: 30px;
    color: black; 
    font-family: 'Georgia', serif; 
    margin-top: 100px;
    margin-bottom: 10px;
    font-style: italic; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
    border-bottom: 3px solid #c49a19;
    padding-bottom: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  
  .ingresar:hover {
    color: #c49a19; 
    background-color: #e0e0e0; 
  }
  
  .Ingresar-Preguntas{
    width: 100%;
    font-size: 35px;
    color: black; 
    font-family: 'Georgia', serif;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
    border-bottom: 3px solid #c49a19;
    padding-bottom: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    transition: color 0.3s ease, background-color 0.3s ease; 
}
.Ingresar-Preguntas:hover {
    color: #c49a19; 
    background-color: #e0e0e0; 
  }

/* Estilos mensaje de éxito */
.empty-fields-message {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.empty-fields-message-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px; 
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.empty-fields-message-content p {
  margin-bottom: 20px;
}

.empty-fields-ok-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-fields-ok-btn:hover {
  background-color: #c49a19;
}

/* Estilos para el ventana confirmar cerrar*/
.confirmation-popup {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.confirmation-popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px; 
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.confirmation-popup-content p {
  margin-bottom: 20px;
}

.confirmation-buttons {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmation-buttons {
  background-color: #c49a19;
}

.Finalizar-btn {
  background-color: blue; /* Color  habilitado */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button-disabled {
  background-color: gray; /* Color  deshabilitado */
  cursor: not-allowed;
}

.form-group label {
  display: block; 
  font-weight: bold; 
  margin-bottom: 0.5rem; 
  color: #333; 
}


.form-group select {
  width: 100%; 
  padding: 0.5rem; 
  border: 1px solid #ced4da; 
  border-radius: 4px; 
  font-size: 25px; 
  background-color: #fff; 
  color: #495057; 
  transition: border-color 0.2s ease-in-out; 
  font-weight: bold; 
}


.form-group select:focus {
  border-color: #007bff; 
  outline: none; 
  font-size: 30px; 
  font-weight: bold; 
}

/*  opción seleccionada */
.form-group option {
  padding: 0.5rem; 
}

/* formmualario setar tiempo y  numero preguntas  */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

/*  encabezado */
.modal-content h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* etiquetas y campos de entrada */
.modal-content label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #666;
}

.modal-content input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/*  tiempo */
#tiempoContador {
  display: flex;
  align-items: center;
}

#tiempoContador input {
  width: auto;
  margin-right: 5px;
}

#tiempoContador input[type="number"] {
  width: 60px;
  text-align: center;
}

/* botones */
.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.2s;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.modal-content .close-button:hover {
  color: #007bff;
}

.configuraciones-contenedor {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.configuraciones-texto {
  font-size: 20px;
  color: #333;
  font-style: italic;
}

.seteo-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-style: italic;
}

.seteo-btn:hover {
  background-color: #c49a19;
}
