.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    
  }
  
  .form-container form {
    width: 1200px;
    padding: 60px; /* Espaciado interior del formulario */
    border: 3px solid #333;
    border-radius: 15px; /* Borde redondeado */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #fafafa;
  }
  
  .form-label {
    font-size: 30px;
    margin-right: 20px;
    color: #555;
}


  .form-group {
    margin-bottom: 20px; /* Espacio entre grupos de campos */
    font-size: 42px;
    color: #555;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  label {
    display: block; /* Para que cada etiqueta esté en una línea */
    margin-bottom: 5px; /* Espacio inferior de la etiqueta */
  }

  .form-control {
    font-size: 30px;
    flex: 1; /* Para que ocupe todo el espacio restante */
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 0;
    max-width: 200px;
}


  
  input[type="text"],
  textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
  }



  .btn-nuevocuestionario {
    background-color: #e4b022;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center; /* Centra los elementos horizontalmente */
    
}

.botones {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px; /* Espacio superior entre los botones y el formulario */
  }

  .botones button {
    margin: 0 30px; /* Espacio horizontal entre los botones */
  }

.btn-guardar:hover {
    background-color: #c49a19;
}

  
/*  Titulo*/
.titulo {
  font-size: 60px;
  color: black; /* Color base */
  font-family: 'Georgia', serif;
  margin-top: 100px;
  margin-left: 350px;
  margin-bottom: 50px;
  font-style: italic; /* Hace que la letra sea cursiva */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras */
  border-bottom: 3px solid #c49a19;; /* Línea inferior */
  padding-bottom: 10px; /* Espaciado para la línea inferior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
  display: inline-block; /* Para que el padding y borde afecten solo al contenido */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transición suave para el color y fondo */
}

.titulo:hover {
  color: #c49a19; /* Cambio de color al pasar el ratón */
  background-color: #e0e0e0; /* Cambio de fondo al pasar el ratón */
}

















/* Estilos para la modal */
.errornombre {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.errornombre-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ok-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ok-btn:hover {
  background-color: #c49a19;
}






/* Estilos para el mensaje de éxito */
.success-message {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.success-message-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.success-message-content p {
  margin-bottom: 20px;
}

.success-ok-btn {
  background-color: #e4b022;
  color: #333;
  border: none;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.success-ok-btn:hover {
  background-color: #c49a19;
}
