

<!-- Titulo-->
<div class="navbar">
  <ul class="nav-menu">
    <!-- Tus otros elementos del menú aquí -->
  </ul>
  <a class="salir" routerLink="/salir" [class.active]="activeMenuItem === 'Salir'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
    Salir
  </a>
</div>

<div class="sidebar">
  <nav>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/dashboard" [class.active]="activeMenuItem === 'Dashboard'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Administradores 
        </a>
      </li>
      <li>
        <a (click)="redireccionarASuperAdministrador()" [class.active]="activeMenuItem === 'Inicioadm'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Inicio
        </a>
      </li>
      <li>
        <a (click)="mostrarFormulario()" [class.active]="activeMenuItem === 'Nuevo'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Nuevo
        </a>
      </li>
      <li>
        <a (click)="mostrarEliminar()" [class.active]="activeMenuItem === 'Eliminar'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Eliminar
        </a>
      </li>
      <li>
        <a routerLink="/ayuda" [class.active]="activeMenuItem === 'Ayuda'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Modificar
        </a>
      </li>
    </ul>
  </nav>
</div>




<h1 class="titulo" *ngIf="showNuevoCuestionarioTitulo">Crear Nuevo Cuestionario</h1>



<!-- Formulario para crear nuevo cuestionario -->
<div class="form-container" *ngIf="showNewCuestionarioForm">
    <form (ngSubmit)="submitForm()" #cuestionarioForm="ngForm">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="form-group">
            <label for="nombre">Ingrese el nombre del nuevo cuestionario:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="botones">
            <button type="button" class="btn-regresar" (click)="regresarInicio()">Regresar</button>
            <button type="submit" class="btn-nuevocuestionario">Guardar</button>
        </div>
    </form>
</div>

<!-- Error Modal -->
<div class="errornombre" *ngIf="showModal">
    <div class="errornombre-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <p>{{ errorMessage }}</p>
        <button class="ok-btn" (click)="closeModal()">OK</button>
    </div>
</div>




<!-- Mensaje de éxito -->
<div class="success-message" *ngIf="showSuccessMessage">
    <div class="success-message-content">
        <p>{{ successMessage }}</p>
        <button class="success-ok-btn" (click)="showNewQuestionForms()">Continuar</button>
    </div>
</div>

<!-- Componente para crear nueva pregunta -->
<app-nueva-pregunta *ngIf="showNewQuestionForm" [nombreColeccion]="nombreColeccion"></app-nueva-pregunta>