<div class="contenedor-principal">

  <!-- Header -->
  <header>

    <head>
      <title>Guía de Examen</title>
    </head>
    <body>
      <div *ngIf="!isLoggedIn">
        <!-- Barra de menú -->
        <div class="menu_bar">
          <nav>
            <ul class="menu-list"> <!-- Agrega la clase menu-list aquí -->
              <!-- Elementos del menú principal con enlaces a diferentes páginas de contenido -->
              <li>
                <a routerLink="/principal" [class.active]="activeMenuItem === 'inicio'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Inicio
                </a>
              </li>

              <li>
                <a (click)="redirectToRDAC65()" [class.active]="activeMenuItem === 'RDAC 65'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  RDAC 65
                </a>
              </li>

              

              

             




<!-- Componente AppComponent -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Cuestionarios
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <a routerLink="/cuestionarioGeneral" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario General'">
        Cuestionario General
      </a>
    </li>
    <li>
      <a routerLink="/cuestionarioFuselaje" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Fuselaje'">
        Cuestionario Fuselaje
      </a>
    </li>
    <li>
      <a routerLink="/cuestionarioMotores" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Motores'">
        Cuestionario Motores
      </a>
    </li>
    <li *ngFor="let collection of filteredCollections">
      <a class="dropdown-item" routerLink="/cuestionarios-admin/completo" [queryParams]="{ collection: collection }">{{ collection }}</a>
    </li>
    
  </ul>
</li>

<!-- Menú desplegable de Simuladores -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Simuladores
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <a routerLink="/simuladorGeneral/completo" class="dropdown-item" [class.active]="activeMenuItem === 'Simulador General'">
        Simulador General
      </a>
    </li>
    <li>
      <a routerLink="/simuladorFuselaje/completo" class="dropdown-item" [class.active]="activeMenuItem === 'Simulador Fuselaje'">
        Simulador Fuselaje
      </a>
    </li>
    <li>
      <a routerLink="/simuladorMotores/completo" class="dropdown-item" [class.active]="activeMenuItem === 'Simulador Motores'">
        Simulador Motores
      </a>
    </li>
    <!-- Filtrar y mostrar otras simulaciones -->
   

   <li *ngFor="let collection of filteredCollections"><a class="dropdown-item" (click)="verSimuladores(collection)">{{ collection }}
   </a>
</li>





    
  </ul>
</li>




              <li class="administrador">
                <a routerLink="/administrador" [class.active]="activeMenuItem === 'Administrador'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Ingresar
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </body>

  </header>

</div>
<!-- Contenedor del contenido principal -->
<div class="contenedor-contenido">
  <!-- Contenido principal -->
  <main>
      <div class="mensaje-container">
        
      </div>
  </main>
</div>
<router-outlet></router-outlet>





  
  <!-- Agrega tus scripts y otras inclusiones al final del cuerpo -->





<!-- TEEEESTT

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cuestionarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a routerLink="/cuestionarioGeneral" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario General'">
                Cuestionario General
              </a>
            </li>
            <li>  
              <a routerLink="/cuestionarioFuselaje" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Fuselaje'">
                Cuestionario Fuselaje
              </a>
            </li>
            <li>
              <a routerLink="/cuestionarioMotores" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Motores'">
                Cuestionario Motores
              </a>
            </li>
            </ul>
          </li>
      </ul>
      </div>
    </nav>

-->








    
   
  