<body>
  <div class="menu_bar">
    <a href="#" class="bt-menu">Menú</a>
  </div>
  <header>
    <nav>
      <ul>
        <li>
          <a (click)="redirectToRDAC65()" [class.active]="activeMenuItem === 'RDAC 65'"
            (mouseenter)="doNothing" (mouseleave)="doNothing">
            RDAC 65
          </a>
        </li>

        <li>
          <a (click)="setActiveMenuItem('Cuestionario General')" [class.active]="activeMenuItem === 'Cuestionario General'"
            (mouseenter)="doNothing" (mouseleave)="doNothing">
            Cuestionario General
          </a>
        </li>
        <li>
          <a (click)="setActiveMenuItem('Cuestionario Fuselaje')" [class.active]="activeMenuItem === 'Cuestionario Fuselaje'"
            (mouseenter)="doNothing" (mouseleave)="doNothing">
            Cuestionario Fuselaje
          </a>
        </li>
        <li>
          <a (click)="setActiveMenuItem('Cuestionario Motores')" [class.active]="activeMenuItem === 'Cuestionario Motores'"
            (mouseenter)="doNothing" (mouseleave)="doNothing">
            Cuestionario Motores
          </a>
        </li>
      </ul>
    </nav>
    <div class="cuestionario-container" *ngIf="activeMenuItem !== 'Cuestionario General' && activeMenuItem !== 'Cuestionario Fuselaje' && activeMenuItem !== 'Cuestionario Motores'">
      
      <head>
        <title>Guía de Examen</title>
      </head>
      
      <h1 class="titulo-principal">Guía de Examen</h1>
      <h2 class="subtitulo">I. Mecánica General de Aviación</h2>
      <h2 class="subtitulo">II. Mecánica de Fuselaje de Aviación</h2>
      <h2 class="subtitulo">III. Mecánica de Motores de Aviación</h2>
      <p class="examen-info">Las áreas que abarcan los exámenes teóricos, son de fácil comprensión y están conformadas por asignaturas aplicables a la mecánica de aviación, por lo tanto, el postulante que haya revisado cuidadosamente la guía proporcionada por la DGAC, puede aprobar la evaluación teórica.</p>
      <p class="examen-info">Todas las preguntas son objetivas, de selección múltiple y pueden ser contestadas con una sola respuesta; las notas de calificaciones mínimas para aprobar los exámenes teóricos son del 70 por ciento.</p>
      <p class="examen-info">El tiempo establecido por la DGAC para la resolución de cada examen es de 2 horas</p>

      
    </div>
  </header>
  <main>
    <div class="cuestionario-container" *ngIf="activeMenuItem === 'Cuestionario General' || activeMenuItem === 'Cuestionario Fuselaje' || activeMenuItem === 'Cuestionario Motores'">
      <h2>{{activeMenuItem}}</h2>
    </div>
     <div *ngIf="activeMenuItem === 'Cuestionario General'">
      <app-cuestionario-general [(ngModel)]="data"></app-cuestionario-general>
    </div>
    <div *ngIf="activeMenuItem === 'Cuestionario Fuselaje'">
      <app-cuestionario-fuselaje [(ngModel)]="data"></app-cuestionario-fuselaje>
    </div>
    <div *ngIf="activeMenuItem === 'Cuestionario Motores'">
      <app-cuestionario-motores [(ngModel)]="data"></app-cuestionario-motores>
    </div>
  </main>
</body>


