<div>
  <div class="button-container">
    <button (click)="onMenuItemClick()">Mostrar Cuestioanrio sin respuestas</button>
    <button (click)="onShowOptionsClick()">Mostrar el Cuestionario con su respuesta</button>
    <button (click)="onTodoClick()">Mostrar el Cuestionario con sus 3 opciones de respuesta y boton responder</button>
    <button (click)="on3opciones()">Mostrar el Cuestionario con sus 3 opciones de respuesta</button>
  </div>
  <div id="preguntas-container"></div>
  <div id="opciones-container"></div>
  <div id="todo-container"></div>
</div>
