<div class="navbar">
  <ul class="nav-menu">
    <!-- Tus otros elementos del menú aquí -->
  </ul>
  <a class="salir" routerLink="/salir" [class.active]="activeMenuItem === 'Salir'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
    Salir
  </a>
</div>

<div class="sidebar">
  <nav>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/dashboard" [class.active]="activeMenuItem === 'Dashboard'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Administradores 
        </a>
      </li>
      <li>
        <a (click)="redireccionarASuperAdministrador()" [class.active]="activeMenuItem === 'Inicioadm'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Inicio
        </a>
      </li>
      <li>
        <a (click)="mostrarFormulario()" [class.active]="activeMenuItem === 'Nuevo'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Nuevo
        </a>
      </li>
      <li>
        <a (click)="mostrarEliminar()" [class.active]="activeMenuItem === 'Eliminar'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Eliminar
        </a>
      </li>
      <li>
        <a routerLink="/ayuda" [class.active]="activeMenuItem === 'Ayuda'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Modificar
        </a>
      </li>
    </ul>
  </nav>
</div>

<h1 class="titulo" *ngIf="showInicioTitulo">Inicio</h1>

<div class="botones-cuestionario" *ngIf="mostrarBotonesCuestionario">
  <div *ngFor="let collection of collections" class="boton">
    <button (dblclick)="verCuestionarios(collection)">
      {{ collection }}
    </button>
  </div>
</div>

<div class="contenido">
  <div *ngIf="mostrarFormularioCrearCuestionario" class="formulario-crear-cuestionario">
    <app-nuevo-cuestionario></app-nuevo-cuestionario>
  </div>
</div>
