/* Estilo para la barra de navegación */
.navbar {
  width: 100%;
  height: 87px;
  background-color: #e4b022;
  position: fixed;
  top: 0;
  left: 100;
  z-index: 0;  /* Capa inferior */
  text-align: center;
  line-height: 70px;  /* para centrar verticalmente palabra salie */
  color: white;
  border-bottom: 1px solid #444;
}

/* Estilo para el menú lateral */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;  /* Alinea con la barra de navegación superior */
  left: 0;
  background-color: #e4b022;
  z-index: 2;  /* Capa superior */
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  border-bottom: 1px solid #444;
}

.sidebar-menu li a {
  color: #333;  /* color del texto del menu bar lateral */
  font-size: 30px;/* tamaño del texto del menu bar lateral*/
  display: block;
  padding:  20px;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  background-color: #8d6e19;
}

.active {
  background-color: #271212;
}





.salir {
  color: #333;  /* color del texto de la opcion salir */
  font-size: 30px; /* tamaño del texto del la opcion salir */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.3s ease; /* Transición suave para el color del texto */
  margin-right:50px;
  margin-top: auto; /* Ajusta el margen superior para centrar el texto verticalmente */
}


.salir:hover {
  background-color: #8d6e19;
  color: #c49a19; /* Cambia el color del texto al pasar el cursor */
}





.contenido-principal {
  display: flex;                /* Utilizar Flexbox */
  justify-content: center;      /* Centrar horizontalmente */
  align-items: center;          /* Centrar verticalmente */
  height: 100vh;                /* Altura completa de la ventana */
  flex-direction: column;       /* Alinear elementos en columna */
}

h1 {
  margin-bottom: 20px;          /* Añadir margen inferior al título */
}

/*  Titulo*/

.titulo {
  font-size: 60px;
  color: black; /* Color base */
  font-family: 'Georgia', serif;
  margin-top: 100px;
  margin-left: 350px;
  margin-bottom: 50px;
  font-style: italic; /* Hace que la letra sea cursiva */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras */
  border-bottom: 3px solid #c49a19;; /* Línea inferior */
  padding-bottom: 10px; /* Espaciado para la línea inferior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
  display: inline-block; /* Para que el padding y borde afecten solo al contenido */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transición suave para el color y fondo */
}

.titulo:hover {
  color: #c49a19; /* Cambio de color al pasar el ratón */
  background-color: #e0e0e0; /* Cambio de fondo al pasar el ratón */
}


























.botones-cuestionario {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea los botones hacia el inicio del contenedor */
  width: 100%; /* Ancho del contenedor */
  margin-left: 400px; /* Margen lateral del menú lateral */
}

.boton {
  flex: 0 0 calc(25% - 20px); /* Cada botón ocupa un cuarto del ancho del contenedor con un margen de 20px */
  width: 300px; /* Ancho fijo para cada botón */
  margin: 40px; /* Espacio entre los botones */
  text-align: center;
}

.boton button {
  padding: 30px; /* Aumenta el padding para hacer el botón más grande */
  font-size: 3em;
  width: 100%;
  background-color: #e9d08c;
  white-space: nowrap;       /* Evita que el texto se rompa */
  overflow: hidden;           /* Oculta el contenido que desborda */
  text-overflow: ellipsis; 
  border-radius: 20px; 
}

.boton button:hover {
  background-color: #ccb26c;
}
