<div class="navbar">
  <ul class="nav-superior">
    <!-- Otros elementos del menú aquí -->
  </ul>
  <!-- Botón de salir -->
  <a class="salir" *ngIf="isLoggedIn" (click)="onLogout()" [class.active]="activeMenuItem === 'Salir'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
    Salir
  </a>
</div>

<div class="sidebar" *ngIf="isLoggedIn">
  <nav>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/dashboard" [class.active]="activeMenuItem === 'Dashboard'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          <span class="admin-type">{{ isAdmin ? 'Super Administrador' : 'Administrador' }}</span>
        </a>
      </li>
      
      <li>
        <a (click)="redireccionarASuperAdministrador()" [class.active]="activeMenuItem === 'Inicioadm'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Inicio
        </a>
      </li>
      <li>
        <a (click)="mostrarFormulario()" [class.active]="activeMenuItem === 'Nuevo'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Nuevo
        </a>
      </li>
      <li>
        <a (click)="mostrarEliminar()" [class.active]="activeMenuItem === 'Eliminar'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Eliminar
        </a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/super-administrador/crearadmin" [class.active]="activeMenuItem === 'Crearadmin'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
          Crear administrador
        </a>
      </li>
    </ul>
  </nav>
</div>

<h1 class="titulo" *ngIf="isLoggedIn && showInicioTitulo">Inicio</h1>
<h1 class="Subtitulo" *ngIf="isLoggedIn && showInicioTitulo"> Para visualizar y editar un cuestionario de doble click sobre el botón correspondiente</h1>

<div class="botones-cuestionario" *ngIf="isLoggedIn && mostrarBotonesCuestionario">
  <div *ngFor="let collection of collections" class="boton">
    <button (dblclick)="verCuestionarios(collection)">
      {{ collection }}
    </button>
  </div>
</div>


