<h1 class="titulo">Visualizar y Editar Cuestionarios</h1>
<button (click)="mostrarFormulario()" class="btn-agregar">Agregar Nueva Pregunta</button>
<div class="preguntas-container">
  <ul>
    <li *ngFor="let pregunta of documentos" class="pregunta-item">
      <div *ngIf="preguntaEditada?.id === pregunta.id; else mostrarPreguntas">
        <h3 class="titulo-edicion">Editar pregunta {{ pregunta.id }}</h3>
        <div class="contenedor-labels">
          <label>
            Pregunta:
            <span contenteditable="true" (blur)="updatePregunta($event, preguntaEditada, 'pregunta')" class="editable">
              {{ preguntaEditada.pregunta }}
            </span>
          </label><br>
          <label>
            Opción A:
            <span contenteditable="true" (blur)="updatePregunta($event, preguntaEditada, 'opcion_a')" class="editable">
              {{ preguntaEditada.opcion_a }}
            </span>
          </label><br>
          <label>
            Opción B:
            <span contenteditable="true" (blur)="updatePregunta($event, preguntaEditada, 'opcion_b')" class="editable">
              {{ preguntaEditada.opcion_b }}
            </span>
          </label><br>
          <label>
            Opción C:
            <span contenteditable="true" (blur)="updatePregunta($event, preguntaEditada, 'opcion_c')" class="editable">
              {{ preguntaEditada.opcion_c }}
            </span>
          </label><br>
          <label>
            Respuesta:
            <span contenteditable="true" (blur)="updatePregunta($event, preguntaEditada, 'respuesta')" class="editable">
              {{ preguntaEditada.respuesta }}
            </span>
          </label><br>
          <label>
            Referencia Actual:<button *ngIf="pregunta.imagen" (click)="quitarImagen(pregunta)"class="quitarimagen-btn">Quitar Imagen</button>
          </label><br>
          <div *ngIf="preguntaEditada.imagen">
            <img [src]="preguntaEditada.imagen" alt="Imagen actual de la pregunta" class="pregunta-imagen">
          </div>
          <label for="nuevaImagen">Nueva Referencia:</label>
          <input type="file" id="nuevaImagen" (change)="onImageSelected($event)" class="form-control">
        </div>
        <button (click)="guardarEdicion(preguntaEditada)" class="guardar-btn">Guardar</button>
        <button (click)="cancelarEdicion()" class="cancelar-btn">Cancelar</button>
      </div>

     



      <ng-template #mostrarPreguntas>
        <strong class="pregunta-titulo">{{ pregunta.id }}) {{ pregunta.pregunta }}</strong>
        <div class="respuestas">
          <span class="opcion">A) </span> {{ pregunta.opcion_a }}<br>
          <span class="opcion">B) </span> {{ pregunta.opcion_b }}<br>
          <span class="opcion">C) </span> {{ pregunta.opcion_c }}<br>
          <strong class="respuesta-label">Respuesta: </strong>
          <span class="respuesta">{{ pregunta.respuesta }}</span>
        </div>
        <div class="respuestas" *ngIf="pregunta.imagen"> <!-- Aquí se añade la condición para mostrar el botón -->
          <button (click)="toggleImagen(pregunta)" class="referencia-btn">Ver Referencia</button>
        </div>
          <!-- Añadir imagen aquí -->
          <div *ngIf="pregunta.imagen && pregunta.mostrarImagen">
            <img [src]="pregunta.imagen" alt="Imagen de la pregunta" class="pregunta-imagen">
          </div>
        
        <button (click)="editarPregunta(pregunta)" class="editar-btn">Editar</button>
        <button (click)="eliminarDocumento(nombreColeccion, pregunta.id)" class="eliminar-btn">Eliminar</button>
      </ng-template>
    </li>
  </ul>
  <p *ngIf="!documentos || documentos.length === 0">No hay documentos disponibles.</p>
</div>





<div *ngIf="mostrarNuevoFormulario" class="nueva-pregunta-container">
  <h2>Agregar Nueva Pregunta</h2>
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" id="id" [(ngModel)]="nuevaPregunta.id" (change)="convertirIdANumero()" class="form-control">
  </div>
  <div class="form-group">
    <label for="pregunta">Pregunta:</label>
    <input type="text" id="pregunta" [(ngModel)]="nuevaPregunta.pregunta" class="form-control">
  </div>
  <div class="form-group">
    <label for="opcion_a">Opción A:</label>
    <input type="text" id="opcion_a" [(ngModel)]="nuevaPregunta.opcion_a" class="form-control">
  </div>
  <div class="form-group">
    <label for="opcion_b">Opción B:</label>
    <input type="text" id="opcion_b" [(ngModel)]="nuevaPregunta.opcion_b" class="form-control">
  </div>
  <div class="form-group">
    <label for="opcion_c">Opción C:</label>
    <input type="text" id="opcion_c" [(ngModel)]="nuevaPregunta.opcion_c" class="form-control">
  </div>
  <div class="form-group">
    <label for="respuesta">Respuesta:</label>
    <select id="respuesta" [(ngModel)]="nuevaPregunta.respuesta" class="form-control">
      <option value="A">Opción A</option>
      <option value="B">Opción B</option>
      <option value="C">Opción C</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" (change)="onImageSelected($event)" class="form-control">
  </div>
  <button (click)="agregarNuevaPregunta()" class="guardarNuevaPregunta-btn">Guardar Pregunta</button>
</div>