<div>
    <div>
      <div class="mensaje-container">
        <p>En este apartado se mostrará el Cuestionario de Mecánica Fuselaje para la obtención de la licencia de Mecánico Aeronáutico de la Dirección de Aviación Civil del Ecuador.</p>
        <p>Como usuario, usted podrá elegir las siguientes opciones:</p>
        <p><strong>Cuestionario Completo de Mecánica Motores:</strong> Le permitirá observar el cuestionario con su respuesta correcta marcada.</p>
        <p><strong>Cuestionario de Repaso de Mecánica Motores:</strong> Le permitirá observar el cuestionario con un botón que le permitirá marcar la respuesta correcta después de que usted elija una opción de respuesta.</p>
      </div>
   
    </div>
    <div id="preguntas-container"></div>
    <div id="opciones-container"></div>
    <div id="todo-container"></div>
  </div>
  
