<div class="contenedor-principal">
    <header>
      <title>Guía de Examen</title>
      <div *ngIf="isLoggedIn">
        <div class="menu_bar">
          <nav>
            <ul class="menu-list">
              <li>
                <a routerLink="/principal" [class.active]="activeMenuItem === 'inicio'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Inicio
                </a>
              </li>
              <li>
                <a (click)="redirectToRDAC65()" [class.active]="activeMenuItem === 'RDAC 65'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  RDAC 65
                </a>
              </li>
              <li>
                <a routerLink="simuladorGeneral" [class.active]="activeMenuItem === 'Simuladores'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Simuladores
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuestionarios
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a routerLink="/cuestionarioGeneral" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario General'">
                      Cuestionario General
                    </a>
                  </li>
                  <li>
                    <a routerLink="/cuestionarioFuselaje" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Fuselaje'">
                      Cuestionario Fuselaje
                    </a>
                  </li>
                  <li>
                    <a routerLink="/cuestionarioMotores" class="dropdown-item" [class.active]="activeMenuItem === 'Cuestionario Motores'">
                      Cuestionario Motores
                    </a>
                  </li>
                </ul>
              </li>
              <li class="administrador">
                <a routerLink="/administrador" [class.active]="activeMenuItem === 'Administrador'" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Ingresar
                </a>
              </li>
              <li>
                <a (click)="onLogout()" (mouseenter)="doNothing()" (mouseleave)="doNothing()">
                  Salir
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  
   <!-- app.component.html -->
<div class="container">
  <header>
    <h1>Solución tecnológica para estudiar y simular los exámenes correspondientes para la obtención de la licencia de mecánico aeronáutico del Ecuador.</h1>
  </header>

  <section class="intro">
    <p>La siguiente aplicación web le permitirá estudiar y repasar los cuestionarios para la obtención de la licencia de mecánico aeronáutico del Ecuador.</p>
    <p>También podrá usar la función del simulador de exámenes para familiarizarse con este proceso, además de asegurarse que está listo para rendir los exámenes correspondientes.</p>
    <p>La aplicación incluye los cuestionaios y simuladores de:</p>
    <p><strong>-Mecánica General</strong> con 251 preguntas.</p>
    <p><strong>-Mecánica Fuselaje</strong> con 454 preguntas.</p>
    <p><strong>-Mecánica Motores</strong> con 984 preguntas.</p>
  </section>

  <section class="features">
    <h2>Características Principales</h2>
    <ul>
      <li><strong>Inicio: </strong>  Le permitirá regresar a esta página cuando crea conveniente o necesite revisar alguna característica de la aplicación. </li>
      <li><strong>RDAC 65: </strong>  Le permitirá acceder y descargar la RDAC 65 "LICENCIAS PERSONAL AERONÁUTICO EXCEPTO MIEMBROS DE LA TRIPULACIÓN DE VUELO"  donde encontrará la información correspondiente a requisitos y procesos para la obtención de la licencia de mecánico aeronáutico. Le recomendamos leer este documento.</li>
      <li><strong>Cuestionarios:</strong> Le permitirá acceder a los cuestionarios correspondientes a: </li>
        <li><em>-⁣Mecánica General</em></li>
        <li><em>-Mecánica Fuselaje</em></li>
        <li><em>-Mecánica Motores</em></li>
      <li><strong>Simuladores:</strong> Le permitirá acceder a los simuladores de exámanes correspondientes a: </li>
        <li><em>-Simulador ⁣Mecánica General</em></li>
        <li><em>-Simulador Mecánica Fuselaje</em></li>
        <li><em>-Simulador Mecánica Motores</em></li>
      <li><strong>Ingresar: </strong>  Le permitirá ingresar a la aplicación web en modo de super administrador o administrador  para la gestión de los cuestionarios.  </li>


    </ul>
  </section>
</div>
  